<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8">
         <title>{{pageTitle}} </title>
   </head>
    <body>
     {{> header}}
<p>
          {{body}}
</p>
<p>Your fortune for the day:</p>
<blockquote>
    {{fortunes}}
</blockquote>
    </body>
</html>